/*-----------global-----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: base;
}
html {
    font-family: Circular std, sans-serif;
}
body {
    width: 100%;
    color: white;
    background-color: var(--black);
}
h1 {
    font-size: 3em;
    font-weight: 100;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 16px;
}
span {
    color: var(--orange);
}

:root {
    --blue: #3581B8;
    --black: #201E1F;
    --orange: #FF4000;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
header {
    background-color: var(--blue);
    text-align: center;
    width: 100%;
}
header h1 {
    font-size: 3em;
}
main {
    background: var(--black);
    width: 100%;
    text-align: center;
}
main li{
    text-decoration: none;
    margin: 2em 0;
    color: white;
}

a:visited {
    color:#00FF00;
}
a:hover {
    color:var(--orange)
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

